.order-history {
    max-height: 416px; 
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-radius: 25px !important;
}

.form-control {
    border-radius: 25px !important;
}

/* Footer */

.footer {
	text-align: center;
    background-color: rgb(83, 91, 97);
    color: #69f5b4;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}

.footer-item {
	margin: 0px;
	padding: 0px;
    margin-top: 10px !important;
}

.social-links li a i {
	color: white;
}

.dropdown-item {
    color:rgb(83, 91, 97) !important;
}

.drop-text:hover {
    color: black !important;
}

.button-tag {
    background-color: rgb(83, 91, 97);
    width: 20%;
    margin: auto;
}