@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.container-fluid {
    padding: 0px !important;
}

body {
    background: url('/media/avenger.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.header-container {
    padding-top: 164px;
}

#delivery-banner {
    margin-top: 50vh;
    height: 250px;
    width: 250px;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(106, 245, 180);
    border-radius: 50%;
    background-color: rgb(83, 91, 97);
}

.delivery-text {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.main-logo h1 {
    font-size: 60px !important;
    color: rgb(106, 245, 180) !important;
    padding: 25px 0px 25px 0px;
    font-family: 'Caveat', sans-serif;
    background-color: rgb(83, 91, 97) !important;
    margin: 0px !important;
    text-decoration: none;
}

.main-logo {
    background-color: rgb(83, 91, 97) !important;
}

.selections {
    background-color: rgb(106, 245, 180);
    color: darkcyan;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    font-weight: 500;
}

a {
    color: rgb(83, 91, 97);
}

a:hover {
    color: rgb(221, 10, 10);
}

.test {
    margin-top: 204px;
}

.test-2 {
    margin-top: 122px;
}

.search-box {
    margin: 10px 0px 10px 0px;
    padding: 35px 30px 20px 60px;
}

.nav-links {
    text-align: center;
    background-color: rgb(106, 245, 180) !important;
}

a .dropdown-item:hover {
    color: sienna !important;
}

.dropdown-menu {
    top: 0% !important;
    left: 35% !important;
}

.products-nav {
    margin-top: 122px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: -1;
}

.standard-text {
    color: black !important;
}

.navbar {
    padding: 0px 0px !important;
}

.update-link, .remove-item {
    cursor: pointer;
}

#payment-form {
    margin-bottom: 80px;
}

.review-form {
    margin-bottom: 80px !important;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#signup_form {
    margin-top: 162px !important;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.search-icon {
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-size: xx-large !important;
}

a, .text-match {
    color: rgb(105, 245, 180) !important;
}

.nav-item a {
    color: rgb(83, 91, 97) !important;
}

.price:hover {
    color:rgb(255, 255, 255) !important;
}
a:hover {
    color:rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

.nav-link {
    color:rgb(105, 245, 180) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(105, 245, 180)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

.navbar-toggler {
    border-color: rgb(105, 245, 180) !important;
    position: fixed;
    top: 40px;
    left: 30px;
  } 

.nav-text {
    color: rgb(83, 91, 97);
}

.edit-btn:hover {
    color: blueviolet !important;
}

.products {
    margin-bottom: 80px !important;
}

.rounded-0 {
    border-radius: 20px !important;
    border: 1px solid rgb(83, 91, 97) !important;
}

.custom-btn:hover {
    color: rgb(83, 91, 97) !important;
}

.custom-btn2:hover {
    color: rgb(105, 245, 180) !important;
}

/* Footer */

.footer {
	text-align: center;
    background-color: rgb(83, 91, 97);
    color: #69f5b4;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}

.footer-item {
	margin: 0px;
	padding: 0px;
    margin-top: 10px !important;
}

.social-links li a i {
	color: white;
}

.dropdown-item {
    color:rgb(83, 91, 97) !important;
}

.drop-text:hover {
    color: black !important;
}

.button-tag {
    background-color: rgb(83, 91, 97);
    width: 20%;
    margin: auto;
}

/* Media Queries */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    }
}

@media (max-width: 992px) {
    .test-2 {
    margin-top: 300px !important;
    }
}

@media (min-width: 992px) {
    .search-scope, .search-page-box {
    display: none;
    }   
}

@media (max-width: 992px) {
    .search-box {
    display: none;
    }     
}

@media (max-width: 850px) {
    .main-logo h1 {
    font-size: 40px !important;
    }
    .navbar-toggler {
    top: 30px;
    }
}

@media (max-width: 795px) {
.nav-link {
    color: rgb(83, 91, 97) !important;
    padding: 0px;
    font-size: 0.8rem;
    }
    .navbar-toggler {
    font-size: 0.8rem;
    }
    .search-font {
    font-size: 30px !important;
    }
    .navbar-toggler {
    top: 35px;
    }
}

@media (max-width: 665px) {
    .nav-link {
    font-size: 0.8rem;
    }
    .navbar-toggler {
    font-size: 0.8rem;
    }
    .search-font {
    font-size: 20px !important;
    }
    .navbar-toggler {
    top: 35px;
    }
    .nav-link p {
    display: none;
    }
    .icons-left {
    text-align: right !important;
    padding-right: 20px !important;
    }
    .spacing-icon {
    margin: 30px;
    }
    .main-logo h1 {
    font-size: 30px !important;
    }
    .search-icon {
    padding-left: 80px !important;
    }
}

@media (max-width: 455px) {
    .main-logo h1 {
    font-size: 22px !important;
    }
    .navbar-toggler {
    font-size: 0.4rem;
    }
    .search-font {
    font-size: 1.5rem !important;
    }
    .navbar-toggler {
    top: 30px;
    padding: .25rem, 0rem;
    }
    .spacing-icon {
    margin: 0px;
    }  
}

@media (max-width: 340px) {
    .main-logo h1 {
    font-size: 20px !important;
    }
    .navbar-toggler {
    font-size: 0.3rem;
    }
    .search-font {
    font-size: 1.2rem !important;
    }
    .navbar-toggler {
    top: 30px;
    padding: .25rem, 0rem;
    }
    .spacing-icon {
    margin: 0px;
    }  
}