
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="television-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="television-link">
        <a href="" class="dropdown-item">By Price</a>
        <a href="" class="dropdown-item">By Rating</a>
        <a href="" class="dropdown-item">By Size</a>
        <a href="" class="dropdown-item">All Products</a>
      </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="size-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Size
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="size-link">
        <a href="" class="dropdown-item">20-30"</a>
        <a href="" class="dropdown-item ">31-40"</a>
        <a href="" class="dropdown-item ">41-60"</a>
        <a href="" class="dropdown-item">60"+</a>
      </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="brand-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Brand
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="brand-link">
        <a href="" class="dropdown-item">Samsung</a>
        <a href="" class="dropdown-item">Sony</a>
        <a href="" class="dropdown-item">LG</a>
        <a href="" class="dropdown-item">Toshiba</a>
        <a href="" class="dropdown-item">All Brands</a>
      </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="colour-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Colour
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="colour-link">
        <a href="" class="dropdown-item">Black</a>
        <a href="" class="dropdown-item">Silver</a>
        <a href="" class="dropdown-item">All Colours</a>
      </div>
        </li>
    </ul>
</div>